*{
    margin: 0%;
    padding: 0%;
}

.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-size: 18px;
    font-weight: 500;
}

.banner{ 

    background-image: url( ../images/banner.png );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    
  
    
}

.banner h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.icon{
    color: white;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50% 0%);
    animation: updown 1s linear infinite ;
    animation-direction: alternate;
    

}

@keyframes updown{
    0%{
        top: 80%;
    }

    100%{
        top: 85%;
    }
}


.headig_one h1{
font-size: 30px;
font-weight: 600;
color: #33417C;
padding-top: 30px;
}

.headig_one p{
    font-size: 16px;
    color: rgb(138, 125, 125);
}
.headig_two{
text-align: right;
}
.headig_two img{
    width: 80%;
    height: 90%;
   
}

.who_we_are{
    margin-top: 50px;
}

.headig_one span{
    display: inline-block;
    width: 0px;
    height: 5px;
    background: #F15527;
    transition: 1s all ease-in-out;
}
.who_we_are:hover .headig_one span{
    width: 50px;
}

.heading_top h1{
    font-size: 30px;
    font-weight: 600;
    color: #33417C;
}

.heading_top span{
    display: inline-block;
    width: 00px;
    height: 5px;
    background: #F05427;
    transition: 1s all ease-in-out;
}

.who_we_do:hover .heading_top span{
    width: 50px;
}

.heading_top{
    text-align: center;
    margin-bottom: 50px;

}

.image{
    position: relative;
   

}

.image::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#36226f+12,36226f+100&0+12,1+99 */
background: -moz-linear-gradient(top,  rgba(54,34,111,0) 12%, rgba(54,34,111,1) 99%, rgba(54,34,111,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(54,34,111,0) 12%,rgba(54,34,111,1) 99%,rgba(54,34,111,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(54,34,111,0) 12%,rgba(54,34,111,1) 99%,rgba(54,34,111,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0036226f', endColorstr='#36226f',GradientType=0 ); /* IE6-9 */

transition:  .5s all ease-in-out;
opacity: .5;


}

.image:hover::before{
    height: 100%;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    opacity: 0;
    
    transition: .5s all ease-in-out;
}

.image:hover .title{
opacity: 1;
top: 45%;
}
.errow{
    position: absolute;
    left: 45%;
    top: 85%;
    transform: translate(-50% 0%);
    color: #fff;
    font-size: 35px;
    transition: .5s all ease-in-out;

}
.image:hover .errow{
    left:50% ;
}

.who_we_do{
    background-image: url(../images/content\ bg.png);
    background-repeat: no-repeat;
    background-position: right bottom ;
    background-size: 1000px;
    padding-bottom: 100px;
   
}


.first_content p{
color: #A8A8A8;
font-size: 16px;
}

.first_content a{
    color: #F1602B;
    font-size: 16px;
}

.first_content h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}


.one {
    position: absolute;
    top: 70%;
    left: 10%;
    color: #fff;
    transition: .5s all ease-in-out;
    opacity: 0;

}

.image:hover .one{
    top: 65%;
opacity: 1;
}

.first_content{
    margin-top: 70px;
}

.first_content span{
    display: inline-block;
    width: 0px;
    height: 5px;
    background: #F15527;
    transition: 1s all ease-in-out;
}

.our_attorneys:hover .first_content span{
    width: 50px;
}

.our_attorneys{
    background-image: url(../images/background.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 150px;

}

.center_part{
    text-align: center;
}

.center_part h1{
    font-weight: 700;
    font-size: 35px;
    color: #2B3774;
}
.center_part span{
    display: inline-block;
    width: 0px;
    height: 5px;
    background: #F37437;
    transition: 1s all ease-in-out;
}

.languages:hover .center_part span{
    width: 50px;
}

.languages{
    margin: 60px 60px;
}
.content_part{

    margin: 60px 65px;
}
.content_part h1{
    font-size: 30px;
    font-weight: 700;
    color: #36226F;
}

.content_part p{
    font-size: 16px;
    font-weight: 500;
    color: #A8A8A8;
}

.content_part a{
    font-size: 14px;
    font-weight: 600;
    color: #E65826;
    text-align:justify;
}

.end_part h1{
    font-size: 35px;
    font-weight:700;
    color: #fff;
    
}
.end_part{
    text-align: center;
    margin: 50px;
}
.end_part span{
    display: inline-block;
    width: 0px;
    height: 5px;
    background: #F15B2A;
    transition: 1s all ease-in-out;
}

.the_end:hover .end_part span{
    width: 50px;
}

.the_end{
    background-image: url(../images/footer\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.the_end form{
text-align: center;

}

.the_end input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(136, 120, 120);
    background: transparent;
    margin-bottom: 10px;
    caret-color: #fff;
    color: #fff;
    

}

.the_end input:focus-visible{
    outline: none;
}
.the_end input::placeholder{
    color: #fff;
   }

.the_end textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(136, 120, 120);
    background: transparent;
    margin-bottom: 10px;
    caret-color: #fff;
}
.the_end textarea::placeholder{
    color: #fff;
    
   }

   .the_end input[ type="submit"]{
        color: #fff
        border: none;
        padding: 0%;
        width: 100px;
        height: 30px;
        background: #E76128;
   }
.last_part{
    background-color: #16102B;
    padding: 20px 20px;
    color: rgb(131, 120, 120);
    font-size: 14px;
    padding-left: 30px;
    position: relative;
}

.last_part img{
    position: absolute;
    left: 70%;
    top: 30%;
}
